@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

*::before,
*::after,
* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html,
body {
	box-sizing: border-box;
	font-size: 21px;
}

.header {
	color: #0097a7;
	display: flex;
	position: sticky;
	z-index: 10;
	padding: 0.5rem;
	top: 0;
	--bg-opacity: 1;
    background-color: #fcfcfc;
}

.header-titulo {
	position: absolute;
    right: 0;
    top: 36%;
    font-size: 25px;
    letter-spacing: 0.5rem;
    padding-right: 10px;
}


article {
	margin: 0 auto;
	padding: 3% 25%;
}


h1 {
  color: #0F4C5C;
  font-family: 'Special Elite', cursive;
  font-size: 3.5em; 
  font-weight: 200;
  margin-bottom: 0.7em;
  margin-top: 0.7em;
  text-align: center;
}

p {
 line-height: 1.5em;	
 margin-bottom: 15px;
}

a {
	text-decoration: none;
    color: #000000c2;
    font-style: italic;
    font-weight: 600;
}

.color-fondo {
	background: #FB8B24a3;
}

.tooltip {
	position: relative;
  }
  
  .tooltip .tooltiptext {
	border-radius: 3px;
	background-color:#000000cc;
	color: #fff;
	font-family: 'Special Elite', cursive;
	visibility: hidden;
	width: auto;
	padding: 5px 5px;
	position: absolute;
	z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }

.resaltar {
	font-family: 'Special Elite', cursive;
}

.contenido-propio {
  color: #9A031E;
}

.ilus-dim {
	height: 80vh;
    display: block;
	margin: 0 auto;
	max-width: 100%;
}

.fondo-resumen {
  color: #5F0F40;	
}


/* COMILLAS */
blockquote {
	font-style: italic;
	line-height: 1.5em;
	padding: 0% 9% 3% 0%;
}
blockquote:before { 
	content: "\201C"; 
	font-size:40px; 
	font-weight: bold; line-height:0px;
	color:#000000ba; 
	vertical-align:middle;
	}
blockquote:after { 
	content: "\201D";
	font-size:40px; 
	font-weight: bold;
	line-height:0px;
	color:#000000ba;
	vertical-align:middle;
	padding-top:10px;
}

.img-cita{
	display: grid;
	grid-template-columns: 0.3fr 0.7fr;
	padding-top: 7%;
}

.titulo-expo {
  text-align: center;
  padding: 0px 20%;
}



.expos {
	padding: 0% 5%;
}

.grid-expo {
 display: grid;
 grid-template-columns: 0.2fr 0.6fr 0.2fr;
}

.resumen {
	color: #0F4C5C;
	font-family: 'Special Elite', cursive;
	font-size: 1em;	
}

.proceso{
   font-weight: 700;
   border-bottom: 2px solid #00000054;
}

.busqueda {
 color: #FB8B24;
 font-size: 17px;
}

  /*
 #5F0F40 
 #9A031E
 #FB8B24
 #E36414
 #0F4C5C
  */
