@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

*::before,
*::after,
* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html,
body {
	box-sizing: border-box;
	font-size: 21px;
}


article {
	margin: 0 auto;
	padding: 9% 25%;
}


h1 {
  font-family: 'Special Elite', cursive;
  font-size: 3.5em; 
  font-weight: 200;
  margin-bottom: 0.7em;
  margin-top: 0.7em;
  text-align: center;
}

p {
 line-height: 1.5em;	
 margin-bottom: 15px;
}

a {
	text-decoration: none;
    color: #000000;
    font-style: italic;
}

.color-fondo {
	background: #FB8B24a3;
}

.tooltip {
	position: relative;
  }
  
  .tooltip .tooltiptext {
	font-family: 'Special Elite', cursive;
	visibility: hidden;
	width: 500px;
	background-color: black;
	color: #fff;
	border-radius: 3px;
	padding: 5px 5px;
	position: absolute;
	z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }

  /*
 #5F0F40 
 #9A031E
 #FB8B24
 #E36414
 #0F4C5C
  */
